<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="python_handler_http" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="c:\python_iis_handlers\venv\Scripts\python.exe"
		  arguments="c:\python_iis_handlers\app.py HttpPlatform module"
		  startupTimeLimit="10"
		  requestTimeout="00:01:00"
		  stdoutLogEnabled="true"
		  stdoutLogFile="..\logs\python-httpplatform-stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="c:\python_iis_handlers\venv\Scripts\python.exe" />
        <environmentVariable name="ASPNETCORE_PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
