<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
          <add name="FastAPIHttpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Users\vgarfern\AppData\Local\Programs\Python\Python313\python.exe" arguments="-m uvicorn --port %HTTP_PLATFORM_PORT% main:app" startupTimeLimit="20" requestTimeout="00:01:00" stdoutLogEnabled="true" stdoutLogFile=".\python.log" processesPerApplication="1">
        </httpPlatform>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
